   /* Add CSS styles for your visualizations */
   #map-container {
    height: 400px;
    border: 1px solid #1e08e6; /* Add border */
    border-radius: 10px; /* Add border radius */
    margin-bottom: 50px; /* Add margin bottom */
}

#bar-chart-container {
    margin-top: 40px;
    padding: 20px; /* Add padding */
    background-color: #c1c8f3; /* Add background color */
    border: 1px solid #03ff29; /* Add border */
    border-radius: 10px; /* Add border radius */
}

.bar {
    fill: rgb(241, 6, 6);
}

.bar:hover {
    fill: orange;
}